<div class="hero-card">
    <% const clothing=clothes[0] %>
    <div class="hero-image-container">
        <img src="<%= clothing.imageUrl %>" alt="<%= clothing.name %>" class="hero-image">
        </div>
        <div class="hero-content">
            <h1>
                <%= clothing.name %>
            </h1>
            <p>
                <%= clothing.description %>
            </p>
        </div>
</div>