<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href='/stylesheets/admin-styles.css' />
</head>

<body>
    <header>
        <h1>Administration</h1>
    </header>
    <div class="body-container">
        <div class="product-sidebar">
            <h2>Products</h2>
        </div>
        <main>
            <%- body %>
        </main>
    </div>
</body>

</html>