<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <nav>
      <img src="https://placehold.co/400x100/png" class="header-logo" alt="Logo of the website">
      <div class="navbar">
        <div class="search-container">
          <form class="search-wrapper">
            <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            <input placeholder="Search products" type="text" class="search-input">
          </form>
        </div>
      </div>
      <div class="navbuttons">
        <a href="#"><i class="fa fa-heart"></i></a>
        <a href="#"><i class="fa fa-shopping-basket"></i></a>
      </div>
    </nav>
    <ul class="link-list">
      <li><a href="#">New</a></li>
      <li><a href="#">Bestsellers</a></li>
      <li><a href="#">Women</a></li>
      <li><a href="#">Men</a></li>
    </ul>
  </header>
  <div class="product-main">
    <div class="hero-card">
      <img src="https://placehold.co/500x400/png" alt="Black T-Shirt hero product">
      <div class="hero-content">
        <h1>Lorem ipsum dolor</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam similique reiciendis praesentium
          soluta
          iste eos!</p>
      </div>
    </div>
    <div class="spot-content">

      <div class="spot-card">
        <a href="#">
          <h2>Lorem ipsum dolor</h2>
          <img src="https://placehold.co/300x300/png" alt="Red T-Shirt">
        </a>
      </div>
      <div class="spot-card">
        <a href="#">
          <h2>Lorem ipsum dolor</h2>
          <img src="https://placehold.co/300x300/png" alt="Red T-Shirt">
        </a>
      </div>
      <div class="spot-card">
        <a href="#">
          <h2>Lorem ipsum dolor</h2>
          <img src="https://placehold.co/300x300/png" alt="Red T-Shirt">
        </a>
      </div>
    </div>
    <div class="product-content">
      <a href="product-details.html">
        <div class="product-card">
          <img src="https://placehold.co/500x800/png" alt="Black T-Shirt">
          <div class="product-info">
            <h3 class="product-name">Black T-Shirt</h3>
            <h3 class="product-price"> 199 :-</h3>
          </div>
          <p class="product-brand">Levis</p>
        </div>
      </a>
      <a href="product-details.html">
        <div class="product-card">
          <img src="https://placehold.co/500x800/png" alt="White T-Shirt">
          <div class="product-info">
            <h3 class="product-name">White T-Shirt</h3>
            <h3 class="product-price"> 199 :-</h3>
          </div>
          <p class="product-brand">Levis</p>
        </div>
      </a>
      <a href="product-details.html">
        <div class="product-card">
          <img src="https://placehold.co/500x800/png" alt="Blue Jeans">
          <div class="product-info">
            <h3 class="product-name">Blue Jeans</h3>
            <h3 class="product-price"> 599 :-</h3>
          </div>
          <p class="product-brand">Levis</p>
        </div>
      </a>
      <a href="product-details.html">
        <div class="product-card">
          <img src="https://placehold.co/500x800/png" alt="Black jeans">
          <div class="product-info">
            <h3 class="product-name">Black Jeans</h3>
            <h3 class="product-price"> 599 :-</h3>
          </div>
          <p class="product-brand">Levis</p>
        </div>
      </a>
      <a href="product-details.html">
        <div class="product-card">
          <img src="https://placehold.co/500x800/png" alt="White shoes">
          <div class="product-info">
            <h3 class="product-name">White Shoes</h3>
            <h3 class="product-price"> 1999 :-</h3>
          </div>
          <p class="product-brand">Converse</p>
        </div>
      </a>
      <a href="product-details.html">
        <div class="product-card">
          <img src="https://placehold.co/500x800/png" alt="Black Shoes">
          <div class="product-info">
            <h3 class="product-name">Black Shoes</h3>
            <h3 class="product-price"> 1999 :-</h3>
          </div>
          <p class="product-brand">Converse</p>
        </div>
      </a>
      <a href="product-details.html">
        <div class="product-card">
          <img src="https://placehold.co/500x800/png" alt="Red Shoes">
          <div class="product-info">
            <h3 class="product-name">Red Shoes</h3>
            <h3 class="product-price"> 2999 :-</h3>
          </div>
          <p class="product-brand">Converse</p>
        </div>
      </a>
      <a href="product-details.html">
        <div class="product-card">
          <img src="https://placehold.co/500x800/png" alt="Blue Shoes">
          <div class="product-info">
            <h3 class="product-name">Blue Shoes</h3>
            <h3 class="product-price"> 2999 :-</h3>
          </div>
          <p class="product-brand">Converse</p>
        </div>
      </a>
    </div>
  </div>
  <footer class="footer-container">
    <ul class="footer-list">
      <li>
        <div class="footer-icon">
          <div>
            <i class="fa fa-globe"></i>
          </div>
          <p>Free Shipping and return</p>
        </div>
      </li>

      <li>
        <div class="footer-icon">
          <div>
            <i class="fa fa-plane"></i>
          </div>
          <p>Express shipping</p>
        </div>
      </li>
      <li>
        <div class="footer-icon">
          <div>
            <i class="fa fa-shield"></i>
          </div>
          <p>Secure payments</p>
        </div>
      </li>
      <li>
        <div class="footer-icon">
          <div>
            <i class="fa fa-smile-o"></i>
          </div>
          <p>New items every day</p>
        </div>
      </li>
    </ul>
    <div class="footer-final">
      <div class="footer-final-menu">
        <div class="shopping-menu">
          <h3>Shopping</h3>
          <ul>
            <li>Winter jackets</li>
            <li>puffer jackets</li>
            <li>Coats</li>
            <li>Trenchcoats</li>
          </ul>
        </div>
        <div class="page-menu">
          <h3>My page</h3>
          <ul>
            <li>My orders</li>
            <li>My account</li>
          </ul>
        </div>
      </div>
      <p>© Freaky Fashion</p>
    </div>
  </footer>
</body>

</html>