<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Black T-Shirt</title>
</head>

<body>
    <header>
        <nav>
            <img src="https://placehold.co/400x100/png" class="header-logo" alt="Logo of the website">
            <div class="navbar">
                <div class="search-container">
                    <form class="search-wrapper">
                        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                        <input placeholder="Search products" type="text" class="search-input">
                    </form>
                </div>
            </div>
            <div class="navbuttons">
                <a href="#"><i class="fa fa-heart"></i></a>
                <a href="#"><i class="fa fa-shopping-basket"></i></a>
            </div>
        </nav>
        <ul class="link-list">
            <li><a href="#">New</a></li>
            <li><a href="#">Bestsellers</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Men</a></li>
        </ul>
        <div class="detail-card">
            <img src="https://placehold.co/500x800/png" alt="Black T-Shirt">
            <div class="detail-info">
                <h1 class="detail-name">Black T-Shirt</h3>
                    <p class="detail-brand">Levis</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, perspiciatis laudantium
                        labore
                        officia fuga quia vitae sequi optio ullam pariatur? Accusamus perferendis atque molestias
                        corrupti?
                    </p>
                    <h3 class="detail-price"> 199 :-</h3>
                    <button class="detail-button">Add to cart</button>
            </div>
        </div>
        <div class="similar-products">
            <h2>Similar Products</h1>
                <div class="similar-content">
                    <div class="product-card">
                        <img src="https://placehold.co/500x800/png" alt="Black T-Shirt">
                        <div class="product-info">
                            <h3 class="product-name">Black T-Shirt</h3>
                            <h3 class="product-price"> 199 :-</h3>
                        </div>
                        <p class="product-brand">Levis</p>
                    </div>
                    <div class="product-card">
                        <img src="https://placehold.co/500x800/png" alt="Black T-Shirt">
                        <div class="product-info">
                            <h3 class="product-name">Black T-Shirt</h3>
                            <h3 class="product-price"> 199 :-</h3>
                        </div>
                        <p class="product-brand">Levis</p>
                    </div>
                    <div class="product-card">
                        <img src="https://placehold.co/500x800/png" alt="Black T-Shirt">
                        <div class="product-info">
                            <h3 class="product-name">Black T-Shirt</h3>
                            <h3 class="product-price"> 199 :-</h3>
                        </div>
                        <p class="product-brand">Levis</p>
                    </div>
                </div>
        </div>
        <footer class="footer-container">
            <ul class="footer-list">
                <li>
                    <div class="footer-icon">
                        <div>
                            <i class="fa fa-globe"></i>
                        </div>
                        <p>Free Shipping and return</p>
                    </div>
                </li>

                <li>
                    <div class="footer-icon">
                        <div>
                            <i class="fa fa-plane"></i>
                        </div>
                        <p>Express shipping</p>
                    </div>
                </li>
                <li>
                    <div class="footer-icon">
                        <div>
                            <i class="fa fa-shield"></i>
                        </div>
                        <p>Secure payments</p>
                    </div>
                </li>
                <li>
                    <div class="footer-icon">
                        <div>
                            <i class="fa fa-smile-o"></i>
                        </div>
                        <p>New items every day</p>
                    </div>
                </li>
            </ul>
            <div class="footer-final">
                <div class="footer-final-menu">
                    <div class="shopping-menu">
                        <h3>Shopping</h3>
                        <ul>
                            <li>Winter jackets</li>
                            <li>puffer jackets</li>
                            <li>Coats</li>
                            <li>Trenchcoats</li>
                        </ul>
                    </div>
                    <div class="page-menu">
                        <h3>My page</h3>
                        <ul>
                            <li>My orders</li>
                            <li>My account</li>
                        </ul>
                    </div>
                </div>
                <p>© Freaky Fashion</p>
            </div>
        </footer>
    </header>

</body>

</html>